html,
body {
  padding: 0;
  margin: 0;
  background-color: #efe6d4;
  font-family: "Minion Pro" !important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Minion Pro";
  src: url("/fonts/MinionPro-Regular.woff2") format("woff2"),
    url("/fonts/MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Minion Pro";
  src: url("/fonts/MinionPro-Bold.woff2") format("woff2"),
    url("/fonts/MinionPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.slider-container {
  padding: 0 !important;
}

.markdown-terms hr {
  margin-top: 1rem;
  border-color: transparent;
}

.markdown-terms h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: bold;
}

.markdown-terms h4 {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.markdown-terms p {
  margin-bottom: 0.4rem;
}
